@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@100;200;300;400;500;600;700;800&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto Condensed';
}

@media (max-width: 768px) { 
    .container {
        width: 90%; /* Aumentar el ancho en pantallas más pequeñas */
    }

    .categorias {
        grid-template-columns: 1fr; /* Cambiar a una sola columna */
    }

    .img {
        width: 150px; /* Ajustar tamaño de imagen */
    }

    .alerta {
        background-color: #ffcc00; /* Color de fondo amarillo */
        color: #333; /* Color del texto */
        padding: 15px; /* Espaciado interno */
        border: 2px solid #e6b800; /* Borde más oscuro */
        border-radius: 5px; /* Esquinas redondeadas */
        text-align: center; /* Centrar el texto */
        font-size: 18px; /* Tamaño de fuente más grande */
        margin: 20px 0; /* Margen superior e inferior */
        font-weight: bold; /* Texto en negrita */
    }
    
    .alerta:hover {
        background-color: #ffdb4d; /* Color de fondo al pasar el mouse */
        cursor: pointer; /* Cambiar el cursor al pasar el mouse */
    }
    
}



.alerta {
    background-color: #ffcc00; /* Color de fondo amarillo */
    color: #333; /* Color del texto */
    padding: 15px; /* Espaciado interno */
    border: 2px solid #e6b800; /* Borde más oscuro */
    border-radius: 5px; /* Esquinas redondeadas */
    text-align: center; /* Centrar el texto */
    font-size: 18px; /* Tamaño de fuente más grande */
    margin: 20px 0; /* Margen superior e inferior */
    font-weight: bold; /* Texto en negrita */
    opacity: 50%;
}

.alerta:hover {
    background-color: #ffdb4d; /* Color de fondo al pasar el mouse */
    cursor: pointer; /* Cambiar el cursor al pasar el mouse */
}





.categoria.desabilitada {
    background-color: #949191; /* Color de fondo para las categorías deshabilitadas */
    cursor: not-allowed; /* Cambiar cursor a "no permitido" */
    opacity: 0.6; /* Hacer que se vea desvanecida */
}


body{
    height: 100vh;
    background: linear-gradient(#4a0808, #ffffff, #4a0808);
    display: flex;
    align-items: center;
    justify-content: center;
    overflow-x: hidden; /* Evitar el desbordamiento horizontal */

}
.container_title {
    width: 0px;
    background-color: #bfa3a3d8;
    margin-left: -85px;
    height: 96%;
    padding: 0px;
    position: absolute;

}

.title_cmpf {
    color:  #ffffff;
    
}

.container{
    width: 500px;
    background-color: #333333b0;
    height: 80%;
    padding: 20px;
    position: relative;
}
.container .img{
    width: 110px;
    position: absolute;
    top: -80px;
    right: 0px;
    z-index: 1;

}


header{
    background-color: #4d4d4d;
    color: #fff;
    text-align: center;
    font-size: 12px;
    padding: 10px;
    border-radius: 50px;
    box-shadow: 3px 3px 5px #2a2929;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.inicio{
    text-align: center;
    padding-top: 80px;
    color: #fff;
    font-size: 20px;
}
.inicio input{
    display: block;
    width: 200px;
    margin: 10px auto;
    font-size: 16px;
    padding: 10px;
    border-radius: 50px;
    border: 0;
    text-align: center;
    margin-top: 30px;
}


.btn{
    background-color: #6a6a7d;
    color: #fff;
    border: 0;
    padding: 10px;
    font-weight: bold;
    border-radius: 50px;
    margin-top: 30px;
    cursor: pointer;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 16px;
    transition: .3s;
}
.btn:hover{
    background-color: #2a2929;
}

small {
    font-size: 0.8em; /* Cambia el tamaño de la fuente si es necesario */
    color: rgb(136, 141, 86); /* Cambia el color del subtítulo si lo deseas */
}
.puntaje, .jugador{
    display: flex;
    align-items: center;
}
.puntaje img, .jugador img{
    width: 40px;
    background-color: #6a6a7d;
    border-radius: 50%;
    border: 2px solid #ffe43a;
    z-index: 2;
}
.puntaje .puntos{
    background-color: #6a6a7d;;
    width: 90px;
    padding: 5px;
    border-radius: 0 30px 30px 0;
    margin-left: -5px;
    z-index: 0;
    font-size: 16px;

}

.jugador .nombre{
    background-color: #6a6a7d;
    width: 90px;
    padding: 5px;
    border-radius: 30px 0px 0px 30px;
    margin-right: -5px;
    font-size: 16px;
}
/* SECCION MENU DEL JUEGO */
.menu{
    margin-top: 30px;
    color: #fff;
    text-align: center;
}
.categorias{
    margin-top: 50px;
    display: grid;
    grid-template-columns: 170px 170px;
    gap:40px;
    justify-content: space-evenly;

}
.categoria{
    background-color: #a9a9a9;  
    width: 170px;
    height: 90px;
    border-radius: 15px;
    color: #fff;
    position: relative;
    display: flex;
    align-items: end;
    padding: 20px;
    justify-content: center;
    cursor: pointer;
    

}
.categoria .foto-categoria{
    width: 80px;
    position: absolute;
    left: 50%;
    top: -35px;
    transform: translateX(-50%);
    transition: .3s;
}
.categoria:hover{
    box-shadow: 0px 0px 15px #ffe43a;
}
.categoria:hover .foto-categoria{
    scale: 1.2;
}

/* PANTALLA DE PREGUNTAS */
.juego{
    color: #fff;
    margin-top: 30px;
    text-align: center;
}
.juego .pregunta{
    margin: 10px 0 30px 0;
    font-size: 20px;
}
.juego .opcion{
    display: block;
    width: 90%;
    margin: auto;
    border: 0;
    font-size: 16px;
    margin-bottom: 20px;
    padding: 15px;
    border-radius: 20px;
    font-size: 18px;
    cursor: pointer;
}
.correcta{
    background-color: rgba(56, 255, 202,1);
}
.incorrecta{
    background-color: rgba(192, 192, 192, 1);
}
.no-events{
    pointer-events: none;
}

.efecto{
    animation: 1s zoom;
    
}
@keyframes zoom {
    0%{
        transform: scale(1);
        color: #fff;
        font-weight: bold;
    }
    40%{
        transform: scale(1.3);
        color: #ffe43a;
    }
    60%{
        transform: scale(1.3);
        color: #ffe43a;
    }  
    100%{
        transform: scale(1);
        color: #fff;
        font-weight: normal;
    }
}

.desabilitada{
    filter: grayscale(.9) opacity(.7);
}

/* SECCION FINAL */
.final{
    margin-top: 30px;
    text-align: center;
    color: #fff;
}
.final .medalla{
    position: relative;
    width: 100px;
    margin: 20px auto;
}
.final .medalla .nombre{
    position: absolute;
    top: 35px;
    left: 50%;
    transform: translateX(-50%);
}
.final img{
    display: block;
    width: 100px;
    margin: auto;
}
.final .puntaje-final{
    font-size: 50px;
    color: #fff;
    margin: 10px 0;
    display: inline-block;
}